<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <link rel="stylesheet" href="/css/styles.css">
        <title>Find and Replace</title>
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <h1>Find and Replace Results</h1>
            </div>
            <div class="phraseContainer">
                <h3>Your original sentence was:</h3>
                <h3 class='output'>{{ oldSentence }}</h3>
            </div>
            <div class="phraseContainer">

                <h3>Your new sentence is:</h3>
                <h3 class='output'>{{ result }}</h3>
            </div>
            <a href='/'><button class='btn btn-primary' type='button'>Home</button></a>
        </div>
    </body>
</html>
